*{
    margin:0;
    padding:0;
    list-style:none;
}
.col-16{
    width:16rem;
}
.col-15{
    width:15rem;
}
.col-12{
    width:12rem;
}
.col-8{
    width:8rem;
}
.col-10{
    width:10rem;
}
.col-6{
    width:6rem;
}
.mar-1{
    margin-left:1rem;
}
.mar-2{
    margin-left:2rem;
}
.box-center{
    margin:0 auto;
}
.colorIndex{
    color:#f00
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.left{
    float: left;
}
.right{
    float:right;
}
a{
    text-decoration: none;
    color:#fff;
    -webkit-tap-highlight-color: transparent;
    
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color:transparent;
}
.t_c{
    text-align: center;
}
input,input:focus,input:active{user-select: text;}